[APP]APP_DEBUG = trueAPP_TRACE = trueAPP_NAME = testDEFAULT_TIMEZONE = Asia/ShanghaiEXCEPTION_HANDLE = app\api\ExceptionHandle[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = testUSERNAME = usernamePASSWORD = passwordHOSTPORT = 3306CHARSET = utf8DEBUG = true[TOKEN]TYPE = mysqlEXPIRE = 0[REDIS]HOST = 127.0.0.1PASSWORD = nullPORT = 6379[LANG]ADMIN = zh-cnMOBILE = zh-cn[UPLOAD]SAVEKEY = /uploads/{filemd5}{.suffix}MAXSIZE = 10mbMIMETYPE = jpg,png,bmp,jpeg,gif,zip,rar,xls,xlsx